html {
  height: 100%;
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
}

body {
  height: 100%;
  font-family: "Oswald", sans-serif;
}

.gradient {
  background: rgb(146, 119, 200);
  background: linear-gradient(
    90deg,
    rgba(146, 119, 200, 0.804359243697479) 0%,
    rgba(59, 149, 184, 0.9023984593837535) 30%,
    rgba(59, 149, 184, 0.9023984593837535) 70%,
    rgba(146, 119, 200, 0.8015581232492998) 100%
  );
}

.hero {
  width: 100%;
  margin-top: 4rem;
  border-radius: 20%;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
  font-size: 18px;
  padding-right: 50px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(146, 119, 200, 0.8015581232492998);
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgba(59, 149, 184, 0.9023984593837535);
}

.navbar-light .navbar-nav .nav-link.active:hover,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgba(146, 119, 200, 0.8015581232492998);
}

.page-header {
  margin-top: 6rem;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.feature {
  color: white;
  font-size: 1.2rem;
}

.feature ul {
  padding-left: 2rem;
  list-style-type: none;
}

.feature ul li {
  padding-left: 2rem;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.companies {
  margin-top: 5rem;
}

.icons {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.icon {
  color: #fff;
  height: 5rem;
  width: 5rem;
  font-size: 1.75rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  background-color: whitesmoke;
  font-size: 1.2rem;
}

.gallery img {
  border-radius: 5%;
}

.services {
  color: #fff;
  font-size: 1.3rem;
}

.contact {
  font-size: 1.2rem;
}

footer {
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}

footer a {
  color: #fff;
  text-decoration: none;
}
